* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: rgb(17, 28, 46);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
}

.profile {
  width: 5rem;
  border-radius: 50%;
}
.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  cursor: pointer;
  padding: 12%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: rgb(24, 39, 66);
  font-size: 2rem;
}
